@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .controls {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;
    background: #293447;
    padding: 20px;
  }
  .controls div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .game-details {
    padding: 10px 27px;
    font-size: 1rem;
  }
}
